@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}


@-webkit-keyframes mymove {
    from {height: 100%;}
    to {height: 28%;}
}


@keyframes mymove {
    from {height: 100%;}
    to {height: 28%;}
}

@-webkit-@keyframes mymove {
    from {height: 100%;}
    to {height: 28%;}
}

@media (max-width: 990px) {
  @-webkit-keyframes mymove {
    from {height: 100%;}
    to {height: 40%;}
  }
  @keyframes mymove {
    from {height: 100%;}
    to {height: 40%;}
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left: -25%; 
  }

  to {
    margin-left: 3%;
  }
}

@keyframes slidein {
  from {
    margin-left: -25%; 
  }

  to {
    margin-left: 3%;
  }
}

@-webkit-keyframes slideinTwo {
  from {
    margin-left: -175%; 
  }

  to {
    margin-left: auto;
  }
}

@keyframes slideinTwo {
  from {
    margin-left: -175%; 
  }

  to {
    margin-left: auto;
  }
}

@-webkit-@keyframes slidein {
  from {
    margin-left: -25%; 
  }

  to {
    margin-left: 3%;
  }
}

@-webkit-keyframes slideright {
  from {
    margin-right: -25%; 
  }

  to {
    margin-right: 5%;
  }
}

@keyframes slideright {
  from {
    margin-right: -25%; 
  }

  to {
    margin-right: 5%;
  }
}

@-webkit-keyframes sliderightTwo {
  from {
    margin-right: -175%; 
  }

  to {
    margin-right: auto;
  }
}

@keyframes sliderightTwo {
  from {
    margin-right: -175%; 
  }

  to {
    margin-right: auto;
  }
}


body, html {
  -webkit-transform: translate3d(0,0,0);
  position: fixed;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  /*margin: 0;*/
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Questrial', 'Fjalla One', 'Ubuntu','Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*animation: fadein 4s ease-out;
  -webkit-animation: fadein 4s ease-out;*/
  background-image: url(../img/gradient1.jpg);
  /*background-position: top;*/
}

@media (max-width: 990px) {
  body, html {
    -webkit-animation: none;
  animation: none;
  }
}



hr {
  color: black; 
  size: 4px;
}

p {
  font-family: 'Questrial','Roboto Slab','Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
  text-decoration:none;
}

i {
  font-family: 'Questrial','Roboto Slab','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}

input {
  color: black;
}

.text-primary {
  color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Questrial','Roboto Slab','Helvetica Neue', Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 2.5em;
}

section {
  /*padding: 100px 0;*/
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    /*padding: 150px 0;*/
  }
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color:rgba(0,0,0,0.5);
  background-opacity:0;
  color:black;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: black;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  /*background-color: #212529;*/
  position: absolute;
}


#mainNav .navbar-toggler {
  margin-top: 40%;
  font-size: 2em;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: black;
  border: 0;
  /*background-color: #fed136;*/
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (max-width: 498px) {
  #mainNav .navbar-toggler {
    font-size: 1em;
  }
}



#mainNav .navbar-brand {
  color: black;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: black;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 1.1em;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: black;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (max-width: 498px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: .8em;
  }
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: blue;
}

@media (min-width: 992px) {
  #mainNav {
    position: absolute;
    padding-top: 15%;
    padding-bottom: 25px;
    padding-right: 32%;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -o-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    float:left;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 2.1em 1em !important;
    color: black;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

/*@media (max-width: 1198px) {
  #mainNav {
    padding-right: 25%;
  }
}

@media (min-width: 1199px) {
  #mainNav {
    padding-right: 25%;
  }
}

@media (min-width: 1440px) {
  #mainNav {
    padding-right: 15%;
  }
}*/


header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/gradient.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 28%;
  margin-bottom: 40%;
  /*animation: mymove 5s ease-out;
  -webkit-animation: mymove 5s ease-out;*/
}

@media (max-width: 990px) {
  header.masthead {
    -webkit-animation: none;
    animation: none;
  }
}

@media (max-width: 415px) {
  header.masthead {
    -webkit-animation: none;
    animation: none;
    margin-bottom: 60%;
  }
}

/*@media (max-width: 990px) {
  header.masthead {
    height: 40%;
  }
}*/

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

/*@media (max-width: 992px) {
  header.masthead .intro-text {
  padding-top: 50%;
  padding-bottom: 100px;
}
}*/

header.masthead .intro-text .intro-lead-in {
  text-align: left;
  width: 90%;
  color: black;
  font-size: 2.5em;
  line-height: 1.5em;
  margin-bottom: 25px;
  margin-top:15%;
  font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*-webkit-animation: fadein 4s ease-out;
  animation: fadein 4s ease-out;*/
}

@media (max-width: 768px) {
  header.masthead .intro-text .intro-lead-in {
    -webkit-animation: none;
    animation: none;
  }
}

@media (max-width: 768px) {
  header.masthead .intro-text .intro-lead-in {
    width: 70%;
    padding-top: 14%;
  font-size: 2.1em;
}
}

@media (max-width: 355px) {
  header.masthead .intro-text .intro-lead-in {
    width: 70%;
    padding-top: 5%;
  font-size: 2.1em;
}
}

@media (max-width: 749px) {
  header.masthead .intro-text .intro-lead-in {
  /*font-size: 1.5em;*/
}
}

@media (max-width: 428px) {
  header.masthead .intro-text .intro-lead-in {
  /*font-size: 1.5em;*/
}
}

@media (max-width: 397px) {
  header.masthead .intro-text .intro-lead-in {
    font-size: 1.7em;
    padding-top: 5%;
}
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    width: 85%;
    text-align: left;
    /*padding: 15%;*/
    padding-left: 0;
    /*margin-top: -2%;*/
    color: black;
    font-size: 3em;
    line-height: 1.5em;
    margin-bottom: 25px;
    font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*-webkit-animation: fadein 5s ease-out;
   animation: fadein 5s ease-out;*/
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}
@media (min-width: 1920px) {
  header.masthead .intro-text .intro-lead-in {
    font-size: 4em;
    padding-top: 15%;
    text-align: center;
    }
  }

@media (max-width: 990px) {
  header.masthead .intro-text .intro-lead-in {
      -webkit-animation: none;
      animation: none;
      margin: auto;
      text-align: center;
      padding-bottom: 20%;
    }
    header.masthead {
      margin-bottom: 70%;
    }
  }

@media (max-width: 424px) {
  header.masthead .intro-text .intro-lead-in {
      margin-top: 31%;
      font-size: 1.3em;
    }
    header.masthead {
      margin-bottom: 100%;
    }
  }





/*@media (min-width: 992px) {
  header.masthead .intro-text .intro-lead-in {
  margin-top: 10%;
  }
}*/
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#portfolio {
  /*height: 400%;*/
  display: -ms-grid;
  display: grid;
  opacity: 1;
}

@media (min-width: 767px) {
  #portfolio {
    margin-top: 3%;
    /*height: 200%;*/
    opacity: 1;
  }
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

section#contact {
  background-color: #212529;
  background-image: url("../img/gradient.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 80%;
}

section#contact .section-heading {
  color: black;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
  padding: 25px 0;
  text-align: center;
}

@media (min-width: 767px) {
  footer {
  padding: 25px 0;
  text-align: center;
  height: 20%;
  }
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Questrial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}

/*Custom CSS*/


#corner {
  background-image: url("../img/corner.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#skyloft {
  background-image: url("../img/skyloft.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#buds {
  background-image: url("../img/Buds.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hilltop {
  background-image: url("../img/hilltop.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#corporate_headquarters {
  background-image: url("../img/hq.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*.project_title {
  color: black;
  margin-left: 5%;
  padding-top: 3%;
  font-size: 2em;
}*/

.project_title {
  margin-left: 3%;
  color: black;
  padding-top: 2%;
  font-size: 2.5em;
  font-family: 'Fjalla One';
}

.project_title2 {
  text-align: right;
  margin-right: 5%;
  color: black;
  padding-top: 2%;
  font-size: 2.5em;
  font-family: 'Fjalla One';
}

.project_title2:hover {
  color: #fec503;
  text-decoration:none;
}

#work {
  /*padding: 0;*/
}

#title_div {
  display: block;
}

#top_title {
  text-align: right;
  margin: 5%;
  float: right;
}

@media (max-width: 992px) {
  #top_title {
  text-align: left;
  margin: 5%;
  float: left;
  width: 50%;
  }
}

#small_nav {
    width: 10%;
    float: right;
    margin-right: 15%;
    /*text-align: right;*/
}

@media (min-width: 1190px) {
  #small_nav {
    margin-right: 5%;
  }
}

#services {
  padding-top: 0;
}

#intro_text_div {
  background-color: white;
}

#jt_logo {
  /*float: left;*/
  margin-left: 0;
  margin-top: 0;
  position: fixed;
}

#logoy {
  fill: blue;
}

@-webkit-keyframes turn {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  /*25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}*/
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes turn {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  /*25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}*/
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}



#texty {
  fill: black;
  -webkit-transform-origin: 272px 272px;
      -ms-transform-origin: 272px 272px;
          transform-origin: 272px 272px;
}

@media (max-width: 992px) {
  #jt_logo {
  display: none;
  }
  #real_dev{
    display: none;
  }
  #top_title {
    /*color: blue;*/
  }
}

/*@media (max-width: 870px) {
  #jt_logo {
    margin-top:-15%;
    margin-left:-10%;
  }
}

@media (max-width: 700px) {
  #jt_logo {
    margin-top:-25%;
    margin-left:-16%;
  }
}*/
#cor, #bud, #chq {
  margin-left: -45%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
} 

#sky, #hill {
  margin-right: -45%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}


/*.fade {
  opacity: 0;
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}*/


/*.scrolling {
  -webkit-animation: turn 6s;
          animation: turn 6s;
  }*/

/*@media (max-width: 990px) {
  .scrolling {
  -webkit-animation: none;
          animation: none;
  }
}*/

.blocks {
  text-align: -webkit-center;
  /*margin-right: auto;
  margin-left: -175%;
  animation-fill-mode: both;*/
}

.blocks2 {
  text-align: -webkit-center;
  /*margin-left: auto;
  margin-right: -175%;
  animation-fill-mode: forwards;*/
}

/*.slideLeft {
  -webkit-animation: slidein 1s ease-out;
          animation: slidein 1s ease-out;
}

.slideRight {
  -webkit-animation: slideright 1s ease-out;
          animation: slideright 1s ease-out;
}

@media (max-width: 990px) {
  .slideLeft {
  -webkit-animation: none;
          animation: none;
  }
  .slideRight {
  -webkit-animation: none;
          animation: none;
  }*/
  #cor, #bud, #chq {
  margin-left: 3%;
  } 
  #sky, #hill {
  margin-right: 5%;
  }
}

/*.slideLeft2 {
  animation: slideinTwo 4s ease-out;
}

.slideRight2 {
  animation: sliderightTwo 2s ease-out;
}*/

#thoughts {
  text-align: center;
  font-size: 4em;
  margin-top: 3%;
}

@media (max-width: 900px) {
  #portfolio {
    margin-bottom: 12%;
  }
}

/*@media (max-width: 390px) {
  #portfolio {
    margin-bottom: 150%;
  }
}*/



#contact_h2 {
  margin-top: 15%;
}



#about_header {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  font-size: 2em;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40%;
  border-bottom: 2px solid black;
}

@media (min-width: 767px) {
  #about_header {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  font-size: 4em;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40%;
  border-bottom: 2px solid black;
  }
}

#about_p {
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 1em;
  font-family: 'Questrial';
}

@media (min-width: 767px) {
  #about_p {
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 1.75em;
  font-family: 'Questrial';
  }
}

#home_btn {
  font-size: 1em;
  color: black;
  float: right;
  margin-right: 5%;
}

@media (min-width: 767px) {
  #home_btn {
  font-size: 1.5em;
  color: black;
  float: right;
  margin-right: 5%;
  }
}

#sendMessageButton:hover {
  color: #fec503;
  text-decoration:none;
}

.pads {
  padding-top: 2%;
}

@media (max-width: 990px) {
  .fade {
  -webkit-animation: none;
          animation: none;
  }
  #portfolio {
    opacity: 1;
  }
}



